body {
  font: 10px sans-serif;
}
div {
}
h1 {font-size:40px;text-transform:uppercase;}

circle.node {
  cursor: pointer;
  stroke: #000;
  stroke-width: .5px;
}

line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

path {stroke:#fff;stroke-width:2px;cursor:pointer}
